.idea/*
192-168-131-1.bootstrap/*
master-scripts/get-pip.py
master-scripts/nginx.tar
utils/dev-resource.json
utils/venn/*
utils/hello.sh
cli/*
docs/mydcos/
openvpn/
utils/bash-appM
utils/bash-appM.spec
utils/bash_container.spec
utils/build/
utils/dist/
monitor/monitor
.idea/
examples/harbor/config/
monitor/
utils/bash-appU.spec
utils/gh-md-toc
utils/venn/
